<!-- 
Title: Request Console
Used In File(s): \code\game\machinery\requests_console.dm

#define RCS_MAINMENU 0	// Main men
#define RCS_RQASSIST 1	// Request supplies
#define RCS_RQSUPPLY 2	// Request assistance
#define RCS_SENDINFO 3	// Relay information
#define RCS_SENTPASS 4	// Message sent successfully
#define RCS_SENTFAIL 5	// Message sent unsuccessfully
#define RCS_VIEWMSGS 6	// View messages
#define RCS_MESSAUTH 7	// Authentication before sending
#define RCS_ANNOUNCE 8	// Send announcementu

 -->

{{if data.screen == 1}}
	<div class="item"><h3>Обратитесь за помощью в другой отдел.</h3></div>
	<table class="block">
	{{for data.assist_dept}}
		{{if value != data.department}}
			<tr>
				<td><div class="itemLabelWidest" align="right">{{:value}} -</div></td>
				<td><div class="item">{{:helper.link('Message', null, { 'write' : value , 'priority' : 1 })}}</div></td>
				<td><div class="item">{{:helper.link('High Priority', null, { 'write' : value , 'priority' : 2 })}}</div></td>
			</tr>
		{{/if}}
	{{empty}}
		<tr><td><div class="itemLabel">Свободных отделов, к которым можно было бы обратиться за помощью не найдено.</div></td></tr>
	{{/for}}
	</table><br>
	<div class="item">{{:helper.link('Back', 'arrowreturnthick-1-w', { 'setScreen' : 0 })}}</div>
{{else data.screen == 2}}
	<div class="item"><h3>Запросить материалы из другого отдела.</h3></div>
	<table class="block">
	{{for data.supply_dept}}
		{{if value != data.department}}
			<tr>
				<td><div class="itemLabelWidest" align="right">{{:value}} - </div></td>
				<td><div class="item">{{:helper.link('Message', null, { 'write' : value , 'priority' : 1 })}}</div></td>
				<td><div class="item">{{:helper.link('High Priority', null, { 'write' : value , 'priority' : 2 })}}</div></td>
			</tr>
		{{/if}}
	{{empty}}
		<tr><td><div class="itemLabel">Нет доступных отделов для запроса поставок.</div></td></tr>
	{{/for}}
	</table><br>
	<div class="item">{{:helper.link('Back', 'arrowreturnthick-1-w', { 'setScreen' : 0 })}}</div>
{{else data.screen == 3}}
	<div class="item"><h3>Передача информации в другой отдел.</h3></div>
	<table class="block">
	{{for data.info_dept}}
		{{if value != data.department}}
			<tr>
				<td><div class="itemLabelWidest" align="right">{{:value}} -</div></td>
				<td width=70px><div class="item">{{:helper.link('Message', null, { 'write' : value , 'priority' : 1 })}}</div></td>
				<td width=90px><div class="item">{{:helper.link('High Priority', null, { 'write' : value , 'priority' : 2 })}}</div></td>
			</tr>
		{{/if}}
	{{empty}}
		<tr><td><div class="itemLabel">Нет доступных отделов для передачи информации.</div></td></tr>
	{{/for}}
	</table><br>
	<div class="item">{{:helper.link('Назад', 'arrowreturnthick-1-w', { 'setScreen' : 0 })}}</div>
{{else data.screen == 4}}
	<div class="item"><b>Сообщение успешно отправлено.</b></div>
	<div class="item">{{:helper.link('Продолжить', 'arrowthick-1-e', { 'setScreen' : 0 })}}</div>
{{else data.screen == 5}}
	<div class="item"><b>Произошла ошибка. Сообщение не отправлено.</b></div>
	<div class="item">{{:helper.link('Продолжить', 'arrowthick-1-e', { 'setScreen' : 0 })}}</div>
{{else data.screen == 6}}
	<div class="statusDisplay" style="overflow: auto;">
		{{for data.message_log}}
			<div class="item">{{:value}}</div>
		{{empty}}
			<div class="item">Сообщения не были получены.</div>
		{{/for}}
	</div>
	<div class="item">{{:helper.link('Назад', 'arrowreturnthick-1-w', { 'setScreen' : 0 })}}</div>
{{else data.screen == 7}}
	<div class="item"><h2>Аутентификация сообщений</h2></div><br>
	<div class="statusDisplay" style="overflow: auto;">
		<div class="item"><b>Сообщение для {{:data.recipient}}:</b> {{:data.message}}</div>
		<div class="item"><b>Утверждено:</b> {{:data.msgVerified}}</div>
		<div class="item"><b>Отмечено:</b> {{:data.msgStamped}}</div>
	</div>
	<div class="item">
		{{:helper.link('Отправить сообщение', 'arrowthick-1-e', { 'department' : data.recipient })}}
		{{:helper.link('Назад', 'arrowreturnthick-1-w', { 'setScreen' : 0 })}}
	</div>
{{else data.screen == 8}}
	<div class="item"><h2>Широкое объявление кораблю</h2></div>
	<div class="item"><b>Сообщение:</b> {{:data.message}} {{:helper.link('Написать сообщение', 'pencil', { 'writeAnnouncement' : 1 })}}</div>
	<br>
	{{if data.announceAuth}}
		<div class="item"><b>ID подтвержден Аутентификация принята.</b></div>
	{{else}}
		<div class="item">Проведите свою идентификационную карту, чтобы подтвердить свою личность.</div>
	{{/if}}
	<br>
	<div class="item">
		{{:helper.link('Анонс', 'signal-diag', { 'sendAnnouncement' : 1 }, (data.announceAuth && data.message) ? null : 'disabled' )}}
		{{:helper.link('Назад', 'arrowreturnthick-1-w', { 'setScreen' : 0 })}}
	</div>
{{else}}
	{{if data.newmessagepriority == 1}}
		<div class="item"><font color='red'>Есть новые сообщения</font></div>
	{{else data.newmessagepriority == 2}}
		<div class="item"><font color='red'><b>НОВЫЕ ПРИОРИТЕТНЫЕ СООБЩЕНИЯ</b></font></div>
	{{/if}}
	<div class="item">{{:helper.link('Просмотреть сообщение', data.newmessagepriority ? 'mail-closed' : 'mail-open', { 'setScreen' : 6 })}}</div>
	<br>
	<div class="item">{{:helper.link('Запросить помощь', 'gear', { 'setScreen' : 1 })}}</div>
	<div class="item">{{:helper.link('Запросить поставки', 'gear', { 'setScreen' : 2 })}}</div>
	<div class="item">{{:helper.link('Передача анонимной информации', 'gear', { 'setScreen' : 3})}}</div>
	<br>
	{{if data.announcementConsole}}
		<div class="item">{{:helper.link('Отправить объявление всему кораблю', 'signal-diag', { 'setScreen' : 8})}}</div>
		<br>
	{{/if}}
	<div class="item">{{:helper.link(data.silent ? 'Динамик ВЫКЛ' : 'Динамик ВКЛ', data.silent ? 'volume-off' : 'volume-on', { 'toggleSilent' : 1})}}</div>
{{/if}}